/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
#calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 50px;
}
#buttons {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px; 
    grid-template-rows: auto auto; 
    width:550px;
    height: 720px;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 120px;
    background-color: #2a53f9;
    border-radius: 10px;
}
#buttons button {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    font-size: 50px;
}
button:hover {
    color: red;
}
#input-box {
    display: flex;
    position: absolute;
    height: 75px;
    width: 490px;
    justify-content: right;
    align-items: center;
    padding-right: 35px ;
    top: 70px;
    background-color: whitesmoke;
    font-size: 70px;
}
