/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.faded-shape {
	position: fixed;
	background: #000000;
	font-size: clamp(14px, 2vw, 16px); 
	margin-top: 110px;
	width: 100%;
	height: 100px;
	font-size: 40px;
	align-content: center;
	padding-left: 15px; 
}
.about-me {
	text-align: center;
	font-size: 60px;
}
nav {
	position: relative;
	padding-bottom: 160px;
	margin-top: -110px;
	font-size: 40px;
}
li {
	justify-content: space-between;
	padding: 20px;
}
nav ul {
	display: flex;
	justify-content: flex-end;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
    --dark-grey:#313338;
    --white: #ffffff;
	text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
body {
    background-color: var(--dark-grey);
    color:var(--white) ;
}
a:link, a:visited {
	color: #ffffff;
	text-decoration: none;
}
.projects{
	display:grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 500px;
	padding-right: 500px;
	padding-top: 200px;	
	padding-bottom: 200px;

}
.projects img {
	height: 400px;
	width: 400px;
	border-radius: 50%;
	margin-top: 50px;
}